.search-input {
    margin-left: 1rem;
    width: 30vw;
    font-size: 0.9rem;
    color: var(--color-dark);
    background-color: transparent;

    &::placeholder {
        color: var(--color-gray);
    }
}